Post::create([
	'title' = ' Judul Pertama',
	'slug' = 'judul-pertama',
	'excerpt' = 'Lorem ipsum dolor, sit amet consectetur adipisicing elit.',
	'body' = '<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p><p>Eveniet ipsa voluptatum, odio eum aliquid voluptates laudantium quaerat ab non aspernatur? Nihil harum sapiente nobis et accusamus hic asperiores doloremque quam facere numquam, quasi sequi laboriosam delectus optio laborum, dolor debitis minus? Sint debitis facilis ex laborum quidem eum beatae quia.</p>'
])
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. 

Ullam, deleniti provident tempore tempora veniam culpa aspernatur a ducimus dolor voluptate iure voluptatibus quaerat quidem earum praesentium, dolorem non accusantium ipsum adipisci error. Atque accusamus nulla fugit temporibus ipsam neque eum dolorum minima fuga expedita voluptates, optio, sunt voluptatibus quasi placeat rem explicabo? 

Accusantium molestias deleniti quaerat tempore maiores corrupti tempora voluptatem? Reiciendis delectus repudiandae eaque id. Quidem, odit quos eaque dignissimos illum esse deserunt quas recusandae, quisquam porro inventore omnis? Sapiente, illo natus deserunt unde minus ducimus possimus animi quam et saepe eos inventore debitis architecto. 

Libero ab, pariatur ex facilis alias odio molestias et odit ad non dolor deleniti architecto, quia excepturi qui eos voluptatum quo sed adipisci? Deserunt dignissimos, quo aperiam sint iusto molestias commodi soluta mollitia. Aliquid minima sunt deleniti explicabo quos, officiis sint quam voluptates cupiditate voluptas molestiae iste, praesentium error? Error voluptas consequuntur magnam delectus, architecto tempora voluptatibus expedita nulla dignissimos libero aspernatur cumque incidunt ipsum quas pariatur neque nobis eligendi fuga earum beatae consequatur? 

Earum enim quae, quisquam porro impedit ipsum fugit neque eos magnam commodi exercitationem ea error quasi, aspernatur sed dolorum qui officia. Nostrum earum ducimus consequuntur! Odio qui doloribus consequuntur hic.
</body>
</html>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. 

Ullam, deleniti provident tempore tempora veniam culpa aspernatur a ducimus dolor voluptate iure voluptatibus quaerat quidem earum praesentium, dolorem non accusantium ipsum adipisci error. Atque accusamus nulla fugit temporibus ipsam neque eum dolorum minima fuga expedita voluptates, optio, sunt voluptatibus quasi placeat rem explicabo? 

Accusantium molestias deleniti quaerat tempore maiores corrupti tempora voluptatem? Reiciendis delectus repudiandae eaque id. Quidem, odit quos eaque dignissimos illum esse deserunt quas recusandae, quisquam porro inventore omnis? Sapiente, illo natus deserunt unde minus ducimus possimus animi quam et saepe eos inventore debitis architecto. 

Libero ab, pariatur ex facilis alias odio molestias et odit ad non dolor deleniti architecto, quia excepturi qui eos voluptatum quo sed adipisci? Deserunt dignissimos, quo aperiam sint iusto molestias commodi soluta mollitia. Aliquid minima sunt deleniti explicabo quos, officiis sint quam voluptates cupiditate voluptas molestiae iste, praesentium error? Error voluptas consequuntur magnam delectus, architecto tempora voluptatibus expedita nulla dignissimos libero aspernatur cumque incidunt ipsum quas pariatur neque nobis eligendi fuga earum beatae consequatur? 

Earum enim quae, quisquam porro impedit ipsum fugit neque eos magnam commodi exercitationem ea error quasi, aspernatur sed dolorum qui officia. Nostrum earum ducimus consequuntur! Odio qui doloribus consequuntur hic.